In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
nba_salary_file = "NBA_season1718_salary.csv"
nba_salary_df = pd.read_csv(nba_salary_file)
nba_salary_df.head()

   Unnamed: 0          Player   Tm  season17_18
0           1   Stephen Curry  GSW   34682550.0
1           2    LeBron James  CLE   33285709.0
2           3    Paul Millsap  DEN   31269231.0
3           4  Gordon Hayward  BOS   29727900.0
4           5   Blake Griffin  DET   29512900.0

In [4]:
salary_cols = ["Player","Tm","season17_18"]
nba_salary = nba_salary_df[salary_cols].copy()
nba_salary = nba_salary.rename(columns = {"Tm":"Team","season17_18":"Salary"})
nba_salary.head()

           Player Team      Salary
0   Stephen Curry  GSW  34682550.0
1    LeBron James  CLE  33285709.0
2    Paul Millsap  DEN  31269231.0
3  Gordon Hayward  BOS  29727900.0
4   Blake Griffin  DET  29512900.0

In [5]:
nba_stats_file = "Seasons_Stats.csv"
nba_stats_data_df = pd.read_csv(nba_stats_file)
nba_stats_data_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [6]:
nba_stats_cols = ["Year","Player","G","FG","FGA","AST","PTS"]
nba_stats_df = nba_stats_data_df[nba_stats_cols].copy()
nba_stats_df.head()

     Year           Player     G     FG    FGA    AST    PTS
0  1950.0  Curly Armstrong  63.0  144.0  516.0  176.0  458.0
1  1950.0     Cliff Barker  49.0  102.0  274.0  109.0  279.0
2  1950.0    Leo Barnhorst  67.0  174.0  499.0  140.0  438.0
3  1950.0       Ed Bartels  15.0   22.0   86.0   20.0   63.0
4  1950.0       Ed Bartels  13.0   21.0   82.0   20.0   59.0

In [10]:
nba_career_df = nba_stats_df.groupby(nba_stats_df["Player"]).sum()
nba_career_df

                       Year       G      FG      FGA     AST      PTS
Player
A.C. Green          35890.0  1361.0  4778.0   9686.0  1469.0  12928.0
A.J. Bramlett        2000.0     8.0     4.0     21.0     0.0      8.0
A.J. English         3983.0   151.0   617.0   1418.0   320.0   1502.0
A.J. Guyton          6006.0    80.0   166.0    440.0   147.0    442.0
A.J. Hammons         2017.0    22.0    17.0     42.0     4.0     48.0
A.J. Price          18120.0   287.0   600.0   1581.0   613.0   1656.0
A.J. Wynder          1991.0     6.0     3.0     12.0     8.0     12.0
A.W. Holt            1971.0     6.0     1.0      8.0     0.0      4.0
Aaron Brooks        30189.0   797.0  2829.0   6893.0  2485.0   7839.0
Aaron Gordon         6048.0   205.0   760.0   1652.0   311.0   1981.0
Aaron Gray          22125.0   387.0   509.0   1007.0   251.0   1235.0
Aaron Harrison       4033.0    26.0     5.0     23.0     5.0     19.0
Aaron James          9885.0   356.0  1609.0   3347.0   370.0   3829.0
Aaron McKie         34003.0   957.0  2554.0   5923.0  2462.0   6636.0
Aaron Miles          2006.0    19.0     6.0     18.0    24.0     16.0
Aaron Swinson        1995.0     9.0    10.0     18.0     3.0     24.0
Aaron Williams      40035.0   838.0  1777.0   3577.0   525.0   4618.0
Abdul Jeelani        3961.0   143.0   475.0   1005.0   160.0   1290.0
Acie Earl           11976.0   240.0   428.0   1076.0    81.0   1168.0
Acie Law            18090.0   265.0   379.0    898.0   419.0   1053.0
Adam Harrington      6009.0    38.0    22.0     74.0    24.0     60.0
Adam Keefe          17973.0   617.0  1120.0   2230.0   427.0   3107.0
Adam Morrison       10044.0   213.0   547.0   1475.0   263.0   1409.0
Adonal Foyle        28060.0   743.0  1325.0   2777.0   345.0   3006.0
Adonis Jordan        3993.0    10.0     8.0     27.0    22.0     21.0
Adonis Thomas        6042.0    12.0    12.0     28.0     6.0     28.0
Adreian Payne       10078.0   134.0   258.0    639.0    96.0    621.0
Adrian Branch        7954.0   130.0   331.0    727.0    96.0    834.0
Adrian Caldwell     15961.0   242.0   204.0    430.0    45.0    491.0
Adrian Dantley*     37694.0  1107.0  9217.0  17203.0  3254.0  26274.0
...                     ...     ...     ...      ...     ...      ...
Worthy Patterson     1958.0     4.0     3.0      8.0     2.0      7.0
Xavier Henry        10065.0   185.0   368.0    907.0   120.0   1050.0
Xavier McDaniel     27882.0   951.0  6263.0  12871.0  1962.0  14979.0
Xavier Munford       2016.0    14.0    32.0     77.0    22.0     80.0
Xavier Silas         2012.0     2.0     4.0     15.0     3.0     11.0
Yakhouba Diawara     8034.0   187.0   233.0    653.0   122.0    655.0
Yao Ming*           16053.0   486.0  3380.0   6445.0   769.0   9247.0
Yaroslav Korolev     4013.0    34.0    13.0     46.0    13.0     39.0
Yi Jianlian         10050.0   272.0   813.0   2012.0   192.0   2148.0
Yinka Dare           7986.0   110.0    86.0    217.0     4.0    233.0
Yogi Ferrell         6051.0    92.0   320.0    788.0   344.0    924.0
York Larese          5886.0   118.0   244.0    654.0   188.0    604.0
Yuta Tabuse          2005.0     4.0     1.0      6.0     3.0      7.0
Yvon Joseph          1986.0     1.0     0.0      0.0     0.0      2.0
Zabian Dowdell       2011.0    24.0    51.0    125.0    51.0    121.0
Zach LaVine          6048.0   206.0  1045.0   2346.0   666.0   2817.0
Zach Randolph       36170.0  1107.0  7490.0  15884.0  2025.0  18762.0
Zaid Abdul-Aziz     27629.0   570.0  1936.0   4588.0   648.0   4978.0
Zan Tabak           15983.0   304.0   679.0   1366.0   213.0   1540.0
Zarko Cabarkapa     10025.0   190.0   320.0    725.0   110.0    878.0
Zarko Paspalj        1990.0    28.0    27.0     79.0    10.0     72.0
Zaza Pachulia       28147.0   961.0  2374.0   5102.0  1233.0   6774.0
Zeke Sinicola        3906.0    12.0     5.0     20.0     3.0     13.0
Zeke Zawoluk         5862.0   179.0   396.0   1065.0   217.0   1210.0
Zeljko Rebraca      14028.0   239.0   522.0   1003.0    94.0   1367.0
Zelmo Beaty*        15737.0   570.0  3396.0   7237.0   839.0   9107.0
Zendon Hamilton     16033.0   146.0   183.0    414.0    33.0    611.0
Zoran Dragic         6045.0    32.0    22.0     60.0    10.0     56.0
Zoran Planinic       6015.0   148.0   197.0    486.0   165.0    561.0
Zydrunas Ilgauskas  26063.0   843.0  4207.0   8842.0   955.0  10976.0

[3921 rows x 6 columns]

In [18]:
nba_career_df["Average_FG%"]=round(nba_career_df["FG"]/nba_career_df["FGA"],2)
nba_career_df["Average_AST"]=round(nba_career_df["AST"]/nba_career_df["G"],2)
nba_career_df["Average_PTS"]=round(nba_career_df["PTS"]/nba_career_df["G"],2)

nba_career_df

,G,FG,FGA,AST,PTS,Average_FG%,Average_AST,Average_PTS
Player,,,,,,,,
A.C. Green,1361.0,4778.0,9686.0,1469.0,12928.0,0.49,1.08,9.50
A.J. Bramlett,8.0,4.0,21.0,0.0,8.0,0.19,0.00,1.00
A.J. English,151.0,617.0,1418.0,320.0,1502.0,0.44,2.12,9.95
A.J. Guyton,80.0,166.0,440.0,147.0,442.0,0.38,1.84,5.52
A.J. Hammons,22.0,17.0,42.0,4.0,48.0,0.40,0.18,2.18
A.J. Price,287.0,600.0,1581.0,613.0,1656.0,0.38,2.14,5.77
A.J. Wynder,6.0,3.0,12.0,8.0,12.0,0.25,1.33,2.00
A.W. Holt,6.0,1.0,8.0,0.0,4.0,0.12,0.00,0.67
Aaron Brooks,797.0,2829.0,6893.0,2485.0,7839.0,0.41,3.12,9.84
Aaron Gordon,205.0,760.0,1652.0,311.0,1981.0,0.46,1.52,9.66
Aaron Gray,387.0,509.0,1007.0,251.0,1235.0,0.51,0.65,3.19
Aaron Harrison,26.0,5.0,23.0,5.0,19.0,0.22,0.19,0.73
Aaron James,356.0,1609.0,3347.0,370.0,3829.0,0.48,1.04,10.76
Aaron McKie,957.0,2554.0,5923.0,2462.0,6636.0,0.43,2.57,6.93
Aaron Miles,19.0,6.0,18.0,24.0,16.0,0.33,1.26,0.84
Aaron Swinson,9.0,10.0,18.0,3.0,24.0,0.56,0.33,2.67
Aaron Williams,838.0,1777.0,3577.0,525.0,4618.0,0.50,0.63,5.51
Abdul Jeelani,143.0,475.0,1005.0,160.0,1290.0,0.47,1.12,9.02
Acie Earl,240.0,428.0,1076.0,81.0,1168.0,0.40,0.34,4.87
Acie Law,265.0,379.0,898.0,419.0,1053.0,0.42,1.58,3.97
Adam Harrington,38.0,22.0,74.0,24.0,60.0,0.30,0.63,1.58
Adam Keefe,617.0,1120.0,2230.0,427.0,3107.0,0.50,0.69,5.04
Adam Morrison,213.0,547.0,1475.0,263.0,1409.0,0.37,1.23,6.62
Adonal Foyle,743.0,1325.0,2777.0,345.0,3006.0,0.48,0.46,4.05
Adonis Jordan,10.0,8.0,27.0,22.0,21.0,0.30,2.20,2.10
Adonis Thomas,12.0,12.0,28.0,6.0,28.0,0.43,0.50,2.33
Adreian Payne,134.0,258.0,639.0,96.0,621.0,0.40,0.72,4.63
Adrian Branch,130.0,331.0,727.0,96.0,834.0,0.46,0.74,6.42
Adrian Caldwell,242.0,204.0,430.0,45.0,491.0,0.47,0.19,2.03
Adrian Dantley*,1107.0,9217.0,17203.0,3254.0,26274.0,0.54,2.94,23.73
...,...,...,...,...,...,...,...,...
Worthy Patterson,4.0,3.0,8.0,2.0,7.0,0.38,0.50,1.75
Xavier Henry,185.0,368.0,907.0,120.0,1050.0,0.41,0.65,5.68
Xavier McDaniel,951.0,6263.0,12871.0,1962.0,14979.0,0.49,2.06,15.75
Xavier Munford,14.0,32.0,77.0,22.0,80.0,0.42,1.57,5.71
Xavier Silas,2.0,4.0,15.0,3.0,11.0,0.27,1.50,5.50
Yakhouba Diawara,187.0,233.0,653.0,122.0,655.0,0.36,0.65,3.50
Yao Ming*,486.0,3380.0,6445.0,769.0,9247.0,0.52,1.58,19.03
Yaroslav Korolev,34.0,13.0,46.0,13.0,39.0,0.28,0.38,1.15
Yi Jianlian,272.0,813.0,2012.0,192.0,2148.0,0.40,0.71,7.90
Yinka Dare,110.0,86.0,217.0,4.0,233.0,0.40,0.04,2.12
Yogi Ferrell,92.0,320.0,788.0,344.0,924.0,0.41,3.74,10.04
York Larese,118.0,244.0,654.0,188.0,604.0,0.37,1.59,5.12
Yuta Tabuse,4.0,1.0,6.0,3.0,7.0,0.17,0.75,1.75
Yvon Joseph,1.0,0.0,0.0,0.0,2.0,NaN,0.00,2.00
Zabian Dowdell,24.0,51.0,125.0,51.0,121.0,0.41,2.12,5.04
Zach LaVine,206.0,1045.0,2346.0,666.0,2817.0,0.45,3.23,13.67
Zach Randolph,1107.0,7490.0,15884.0,2025.0,18762.0,0.47,1.83,16.95
Zaid Abdul-Aziz,570.0,1936.0,4588.0,648.0,4978.0,0.42,1.14,8.73
Zan Tabak,304.0,679.0,1366.0,213.0,1540.0,0.50,0.70,5.07
Zarko Cabarkapa,190.0,320.0,725.0,110.0,878.0,0.44,0.58,4.62
Zarko Paspalj,28.0,27.0,79.0,10.0,72.0,0.34,0.36,2.57
Zaza Pachulia,961.0,2374.0,5102.0,1233.0,6774.0,0.47,1.28,7.05
Zeke Sinicola,12.0,5.0,20.0,3.0,13.0,0.25,0.25,1.08
Zeke Zawoluk,179.0,396.0,1065.0,217.0,1210.0,0.37,1.21,6.76
Zeljko Rebraca,239.0,522.0,1003.0,94.0,1367.0,0.52,0.39,5.72
Zelmo Beaty*,570.0,3396.0,7237.0,839.0,9107.0,0.47,1.47,15.98
Zendon Hamilton,146.0,183.0,414.0,33.0,611.0,0.44,0.23,4.18
Zoran Dragic,32.0,22.0,60.0,10.0,56.0,0.37,0.31,1.75
Zoran Planinic,148.0,197.0,486.0,165.0,561.0,0.41,1.11,3.79
Zydrunas Ilgauskas,843.0,4207.0,8842.0,955.0,10976.0,0.48,1.13,13.02

In [21]:
#del nba_career_df["Year"]
nba_career_df

,G,FG,FGA,AST,PTS,Average_FG%,Average_AST,Average_PTS
Player,,,,,,,,
A.C. Green,1361.0,4778.0,9686.0,1469.0,12928.0,0.49,1.08,9.50
A.J. Bramlett,8.0,4.0,21.0,0.0,8.0,0.19,0.00,1.00
A.J. English,151.0,617.0,1418.0,320.0,1502.0,0.44,2.12,9.95
A.J. Guyton,80.0,166.0,440.0,147.0,442.0,0.38,1.84,5.52
A.J. Hammons,22.0,17.0,42.0,4.0,48.0,0.40,0.18,2.18
A.J. Price,287.0,600.0,1581.0,613.0,1656.0,0.38,2.14,5.77
A.J. Wynder,6.0,3.0,12.0,8.0,12.0,0.25,1.33,2.00
A.W. Holt,6.0,1.0,8.0,0.0,4.0,0.12,0.00,0.67
Aaron Brooks,797.0,2829.0,6893.0,2485.0,7839.0,0.41,3.12,9.84
Aaron Gordon,205.0,760.0,1652.0,311.0,1981.0,0.46,1.52,9.66
Aaron Gray,387.0,509.0,1007.0,251.0,1235.0,0.51,0.65,3.19
Aaron Harrison,26.0,5.0,23.0,5.0,19.0,0.22,0.19,0.73
Aaron James,356.0,1609.0,3347.0,370.0,3829.0,0.48,1.04,10.76
Aaron McKie,957.0,2554.0,5923.0,2462.0,6636.0,0.43,2.57,6.93
Aaron Miles,19.0,6.0,18.0,24.0,16.0,0.33,1.26,0.84
Aaron Swinson,9.0,10.0,18.0,3.0,24.0,0.56,0.33,2.67
Aaron Williams,838.0,1777.0,3577.0,525.0,4618.0,0.50,0.63,5.51
Abdul Jeelani,143.0,475.0,1005.0,160.0,1290.0,0.47,1.12,9.02
Acie Earl,240.0,428.0,1076.0,81.0,1168.0,0.40,0.34,4.87
Acie Law,265.0,379.0,898.0,419.0,1053.0,0.42,1.58,3.97
Adam Harrington,38.0,22.0,74.0,24.0,60.0,0.30,0.63,1.58
Adam Keefe,617.0,1120.0,2230.0,427.0,3107.0,0.50,0.69,5.04
Adam Morrison,213.0,547.0,1475.0,263.0,1409.0,0.37,1.23,6.62
Adonal Foyle,743.0,1325.0,2777.0,345.0,3006.0,0.48,0.46,4.05
Adonis Jordan,10.0,8.0,27.0,22.0,21.0,0.30,2.20,2.10
Adonis Thomas,12.0,12.0,28.0,6.0,28.0,0.43,0.50,2.33
Adreian Payne,134.0,258.0,639.0,96.0,621.0,0.40,0.72,4.63
Adrian Branch,130.0,331.0,727.0,96.0,834.0,0.46,0.74,6.42
Adrian Caldwell,242.0,204.0,430.0,45.0,491.0,0.47,0.19,2.03
Adrian Dantley*,1107.0,9217.0,17203.0,3254.0,26274.0,0.54,2.94,23.73
...,...,...,...,...,...,...,...,...
Worthy Patterson,4.0,3.0,8.0,2.0,7.0,0.38,0.50,1.75
Xavier Henry,185.0,368.0,907.0,120.0,1050.0,0.41,0.65,5.68
Xavier McDaniel,951.0,6263.0,12871.0,1962.0,14979.0,0.49,2.06,15.75
Xavier Munford,14.0,32.0,77.0,22.0,80.0,0.42,1.57,5.71
Xavier Silas,2.0,4.0,15.0,3.0,11.0,0.27,1.50,5.50
Yakhouba Diawara,187.0,233.0,653.0,122.0,655.0,0.36,0.65,3.50
Yao Ming*,486.0,3380.0,6445.0,769.0,9247.0,0.52,1.58,19.03
Yaroslav Korolev,34.0,13.0,46.0,13.0,39.0,0.28,0.38,1.15
Yi Jianlian,272.0,813.0,2012.0,192.0,2148.0,0.40,0.71,7.90
Yinka Dare,110.0,86.0,217.0,4.0,233.0,0.40,0.04,2.12
Yogi Ferrell,92.0,320.0,788.0,344.0,924.0,0.41,3.74,10.04
York Larese,118.0,244.0,654.0,188.0,604.0,0.37,1.59,5.12
Yuta Tabuse,4.0,1.0,6.0,3.0,7.0,0.17,0.75,1.75
Yvon Joseph,1.0,0.0,0.0,0.0,2.0,NaN,0.00,2.00
Zabian Dowdell,24.0,51.0,125.0,51.0,121.0,0.41,2.12,5.04
Zach LaVine,206.0,1045.0,2346.0,666.0,2817.0,0.45,3.23,13.67
Zach Randolph,1107.0,7490.0,15884.0,2025.0,18762.0,0.47,1.83,16.95
Zaid Abdul-Aziz,570.0,1936.0,4588.0,648.0,4978.0,0.42,1.14,8.73
Zan Tabak,304.0,679.0,1366.0,213.0,1540.0,0.50,0.70,5.07
Zarko Cabarkapa,190.0,320.0,725.0,110.0,878.0,0.44,0.58,4.62
Zarko Paspalj,28.0,27.0,79.0,10.0,72.0,0.34,0.36,2.57
Zaza Pachulia,961.0,2374.0,5102.0,1233.0,6774.0,0.47,1.28,7.05
Zeke Sinicola,12.0,5.0,20.0,3.0,13.0,0.25,0.25,1.08
Zeke Zawoluk,179.0,396.0,1065.0,217.0,1210.0,0.37,1.21,6.76
Zeljko Rebraca,239.0,522.0,1003.0,94.0,1367.0,0.52,0.39,5.72
Zelmo Beaty*,570.0,3396.0,7237.0,839.0,9107.0,0.47,1.47,15.98
Zendon Hamilton,146.0,183.0,414.0,33.0,611.0,0.44,0.23,4.18
Zoran Dragic,32.0,22.0,60.0,10.0,56.0,0.37,0.31,1.75
Zoran Planinic,148.0,197.0,486.0,165.0,561.0,0.41,1.11,3.79
Zydrunas Ilgauskas,843.0,4207.0,8842.0,955.0,10976.0,0.48,1.13,13.02

In [22]:
connection_string = 'sqlite:///nba_player_db.sqlite'
engine = create_engine(connection_string)

In [25]:
engine.execute('create table nba_salary (Player text primary key,Team text, Salary text)')

OperationalError: (sqlite3.OperationalError) table nba_salary already exists [SQL: 'create table nba_salary (Player text primary key,Team text, Salary text)'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [26]:
engine.table_names()

['nba_salary']

In [27]:
nba_salary.to_sql(name = 'nba_salary',con=engine, if_exists = 'append', index = False)

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: nba_salary.Player [SQL: 'INSERT INTO nba_salary ("Player", "Team", "Salary") VALUES (?, ?, ?)'] [parameters: (('Stephen Curry', 'GSW', 34682550.0), ('LeBron James', 'CLE', 33285709.0), ('Paul Millsap', 'DEN', 31269231.0), ('Gordon Hayward', 'BOS', 29727900.0), ('Blake Griffin', 'DET', 29512900.0), ('Kyle Lowry', 'TOR', 28703704.0), ('Russell Westbrook', 'OKC', 28530608.0), ('Mike Conley', 'MEM', 28530608.0)  ... displaying 10 of 573 total bound parameter sets ...  ('Joel Bolomboy', 'MIL', 22248.0), ('Jarell Eddie', 'CHI', 17224.0))] (Background on this error at: http://sqlalche.me/e/gkpj)