# Data Preparation for Citibike Tableau Viz

Note: All data from 2013 and now are loaded to Redshift cluster.

In [46]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

# Utility to write data to redshift quickly
import pandas_redshift as pr

import pandas as pd
import settings # Axial DB Settings
from axial.factory.db_engine_factory import get_dwp_engine
from __future__ import print_function
import datetime
from collections import OrderedDict
from os import environ

DWP_ENGINE = get_dwp_engine()

db_setting = settings.RS_DATABASE
pr.connect_to_redshift(dbname = db_setting['database'],
                       host = db_setting['host'],
                       port = db_setting['port'],
                       user = db_setting['username'],
                       password = db_setting['password'])

In [47]:
pr.connect_to_s3(aws_access_key_id = environ['AWS_ACCESS_KEY_ID'] ,
                aws_secret_access_key = environ['AWS_SECRET_ACCESS_KEY'],
                bucket = environ['AWS_BUCKET'],
                subdirectory = 'citibike')

In [48]:
BASE_URL = "https://s3.amazonaws.com/tripdata/" # Load the data directly form nyc.gov site
URL = BASE_URL + "index.html"


# Hard coded columns to be loaded
COLUMNS = ['trip_duration', 'start_time', 'stop_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'birth_year', 'gender']

In [49]:
# Read zip file and return a file handler to be loaded to DataFrame
def get_zip(file_url):
    resp = requests.get(file_url)
    zipfile = ZipFile(BytesIO(resp.content))
    zip_names = zipfile.namelist()
    #if len(zip_names) == 1:
    file_name = zip_names[0]
    extracted_file = zipfile.open(file_name)
    return extracted_file

In [50]:

# Column mapping function
column_map = dict(
    starttime='start_time',
    stoptime='stop_time',
    bikeid='bike_id',
    tripduration='trip_duration',
    usertype='user_type'
)

def map_column(column):
    if column in column_map:
        return column_map[column]
    else:
        return '_'.join(
            [x.lower() for x in column.split(' ')]
        )

In [60]:
# Hard coded the table schema to make it easier to manage. Transfromation of column name happends in loading process
sql = '''

drop table if exists citi_trips_new;
create table citi_trips_new
(
	trip_duration int,
	start_time timestamp,
	stop_time timestamp,
	start_station_id int,
	start_station_name varchar(256),
	start_station_latitude double precision,
	start_station_longitude double precision,
	end_station_id float,
	end_station_name varchar(256),
	end_station_latitude double precision,
	end_station_longitude double precision,
	bike_id int,
	user_type varchar(256),
	birth_year double precision,
	gender int
);

'''
DWP_ENGINE.execute(sql)

In [52]:
# Get list of zip files
text = ''
with open('citibike/tripdata.html') as f:
    text = f.read()

soup = BeautifulSoup(text, 'html.parser')

zip_urls = []
for x in soup.find_all('a'):
    href = x.get('href')
    if href and 'zip' in href:
        zip_urls.append(href)

In [58]:
def convert_birth_year(x):
    #print('x: ' + x)
    if isinstance(x, str) and x == '\\N':
        return None
    else:
        return x # pd.to_numeric(x)

In [59]:
def load_by_url(url):
    df = pd.read_csv(get_zip(url)) #, nrows=1)
    df.columns = [ map_column(x) for x in df.columns]
    cnt = df.bike_id.count()
    print(f'Loading {cnt} records from {url}')
    df['start_time'] = pd.to_datetime(df['start_time'])
    df['stop_time'] = pd.to_datetime(df['stop_time'])
    #df['birth_year'] = pd.to_numeric(df['birth_year'])
    df.assign(birth_year=lambda x: x['birth_year'].apply(convert_birth_year))                                 
    pr.pandas_to_redshift(data_frame = df[COLUMNS], append = True,
                        redshift_table_name = 'citi_trips_new')

if True:
    resp = requests.get(url)
    zipfile = ZipFile(BytesIO(resp.content))
    zip_names = zipfile.namelist()
    extracted_file = None
    print(zip_names)
    #if len(zip_names)  1:
    file_name = zip_names[0]
    print(file_name)
    extracted_file = zipfile.open(file_name)
    
    df = pd.read_csv(extracted_file, nrows=1)
    print(df)
    df.columns = [ map_column(x) for x in df.columns]
    cnt = df.bike_id.count()
    print(f'Loading {cnt} records from {url}')
    df['start_time'] = pd.to_datetime(df['start_time'])
    df['stop_time'] = pd.to_datetime(df['stop_time'])
    #df['birth_year'] = pd.to_numeric(df['birth_year'])
    df.assign(birth_year=lambda x: x['birth_year'].apply(convert_birth_year))                                 
    pr.pandas_to_redshift(data_frame = df[COLUMNS], append = True,
                        redshift_table_name = 'citi_trips_new')

In [61]:
# Load all files!!! 
for url in sorted(zip_urls):
    #print(url)
    load_by_url(url)

Loading 577703 records from https://s3.amazonaws.com/tripdata/201306-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 224736 records from https://s3.amazonaws.com/tripdata/201307-201402-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 843416 records from https://s3.amazonaws.com/tripdata/201307-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1001958 records from https://s3.amazonaws.com/tripdata/201308-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1034359 records from https://s3.amazonaws.com/tripdata/201309-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1037712 records from https://s3.amazonaws.com/tripdata/201310-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 675774 records from https://s3.amazonaws.com/tripdata/201311-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 443966 records from https://s3.amazonaws.com/tripdata/201312-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 300400 records from https://s3.amazonaws.com/tripdata/201401-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 224736 records from https://s3.amazonaws.com/tripdata/201402-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 439117 records from https://s3.amazonaws.com/tripdata/201403-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 670780 records from https://s3.amazonaws.com/tripdata/201404-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 866117 records from https://s3.amazonaws.com/tripdata/201405-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 936880 records from https://s3.amazonaws.com/tripdata/201406-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 968842 records from https://s3.amazonaws.com/tripdata/201407-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 963489 records from https://s3.amazonaws.com/tripdata/201408-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT

Loading 953887 records from https://s3.amazonaws.com/tripdata/201409-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 828711 records from https://s3.amazonaws.com/tripdata/201410-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 529188 records from https://s3.amazonaws.com/tripdata/201411-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 399069 records from https://s3.amazonaws.com/tripdata/201412-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 285552 records from https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 196930 records from https://s3.amazonaws.com/tripdata/201502-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 341826 records from https://s3.amazonaws.com/tripdata/201503-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 652390 records from https://s3.amazonaws.com/tripdata/201504-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 961986 records from https://s3.amazonaws.com/tripdata/201505-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 941219 records from https://s3.amazonaws.com/tripdata/201506-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1085676 records from https://s3.amazonaws.com/tripdata/201507-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1179044 records from https://s3.amazonaws.com/tripdata/201508-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1212277 records from https://s3.amazonaws.com/tripdata/201510-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 987245 records from https://s3.amazonaws.com/tripdata/201511-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 804125 records from https://s3.amazonaws.com/tripdata/201512-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 509478 records from https://s3.amazonaws.com/tripdata/201601-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT

Loading 560874 records from https://s3.amazonaws.com/tripdata/201602-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 919921 records from https://s3.amazonaws.com/tripdata/201603-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1013149 records from https://s3.amazonaws.com/tripdata/201604-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1212280 records from https://s3.amazonaws.com/tripdata/201605-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1460318 records from https://s3.amazonaws.com/tripdata/201606-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1380110 records from https://s3.amazonaws.com/tripdata/201607-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1557663 records from https://s3.amazonaws.com/tripdata/201608-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1648856 records from https://s3.amazonaws.com/tripdata/201609-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1573872 records from https://s3.amazonaws.com/tripdata/201610-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1196942 records from https://s3.amazonaws.com/tripdata/201611-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 812192 records from https://s3.amazonaws.com/tripdata/201612-citibike-tripdata.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 726676 records from https://s3.amazonaws.com/tripdata/201701-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 791647 records from https://s3.amazonaws.com/tripdata/201702-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 727665 records from https://s3.amazonaws.com/tripdata/201703-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1315404 records from https://s3.amazonaws.com/tripdata/201704-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1523268 records from https://s3.amazonaws.com/tripdata/201705-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT

Loading 1731594 records from https://s3.amazonaws.com/tripdata/201706-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1735599 records from https://s3.amazonaws.com/tripdata/201707-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1816498 records from https://s3.amazonaws.com/tripdata/201708-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1878098 records from https://s3.amazonaws.com/tripdata/201709-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1897592 records from https://s3.amazonaws.com/tripdata/201710-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1330649 records from https://s3.amazonaws.com/tripdata/201711-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 889967 records from https://s3.amazonaws.com/tripdata/201712-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 718990 records from https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 843104 records from https://s3.amazonaws.com/tripdata/201802-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 976649 records from https://s3.amazonaws.com/tripdata/201803-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1307521 records from https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 1824658 records from https://s3.amazonaws.com/tripdata/201805-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 6668 records from https://s3.amazonaws.com/tripdata/JC-201509-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 19264 records from https://s3.amazonaws.com/tripdata/JC-201510-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 15113 records from https://s3.amazonaws.com/tripdata/JC-201511-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 11838 records from https://s3.amazonaws.com/tripdata/JC-201512-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT

Loading 7479 records from https://s3.amazonaws.com/tripdata/JC-201601-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 8250 records from https://s3.amazonaws.com/tripdata/JC-201602-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 13511 records from https://s3.amazonaws.com/tripdata/JC-201603-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 16342 records from https://s3.amazonaws.com/tripdata/JC-201604-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 19488 records from https://s3.amazonaws.com/tripdata/JC-201605-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 23947 records from https://s3.amazonaws.com/tripdata/JC-201606-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 24436 records from https://s3.amazonaws.com/tripdata/JC-201607-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 34149 records from https://s3.amazonaws.com/tripdata/JC-201608-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 33425 records from https://s3.amazonaws.com/tripdata/JC-201609-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 29611 records from https://s3.amazonaws.com/tripdata/JC-201610-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 21832 records from https://s3.amazonaws.com/tripdata/JC-201611-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 15114 records from https://s3.amazonaws.com/tripdata/JC-201612-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 12926 records from https://s3.amazonaws.com/tripdata/JC-201701-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 14026 records from https://s3.amazonaws.com/tripdata/JC-201702-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 12201 records from https://s3.amazonaws.com/tripdata/JC-201703-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 21186 records from https://s3.amazonaws.com/tripdata/JC-201704-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT

Loading 25966 records from https://s3.amazonaws.com/tripdata/JC-201705-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 32060 records from https://s3.amazonaws.com/tripdata/JC-201706-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 33573 records from https://s3.amazonaws.com/tripdata/JC-201707-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 35472 records from https://s3.amazonaws.com/tripdata/JC-201708%20citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 33119 records from https://s3.amazonaws.com/tripdata/JC-201709-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 34919 records from https://s3.amazonaws.com/tripdata/JC-201710-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 23582 records from https://s3.amazonaws.com/tripdata/JC-201711-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 15898 records from https://s3.amazonaws.com/tripdata/JC-201712-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 12677 records from https://s3.amazonaws.com/tripdata/JC-201801-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 15104 records from https://s3.amazonaws.com/tripdata/JC-201802-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 17109 records from https://s3.amazonaws.com/tripdata/JC-201803-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 23634 records from https://s3.amazonaws.com/tripdata/JC-201804-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT
Loading 34455 records from https://s3.amazonaws.com/tripdata/JC-201805-citibike-tripdata.csv.zip
saved file citi_trips_new.csv in bucket citibike/citi_trips_new.csv

        copy citi_trips_new
        from 's3://axial-etl-prod/citibike/citi_trips_new.csv'
        delimiter ','
        ignoreheader 1
        csv quote as '"'
        dateformat 'auto'
        timeformat 'auto'
        access_key_id 'AKIAITLHNSTGGBDAJVYQ'
        secret_access_key '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'
        ;
FILLING THE TABLE IN REDSHIFT